<html>
    <head>
        <title>BigDataFinalProject Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    

        <style>
            body {
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        
            h1 {
                font-size: 32px;
                text-align: center;
                font-weight: 400;
                margin-top: 36px;
            }
        
            h4 {
                font-size: 20px;
                font-weight: 400;
            }
        </style>
        
    </head>
    <body>
        <h1>BigDataFinalProject Dashboard</h1>
        <br />
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">Stats <span class="badge badge-secondary">Redis</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history"><b>History</b> <span class="badge badge-secondary">Cassandra</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="http://194.5.206.243:5601/app/kibana#/dashboard/8367c600-da4b-11ea-b06a-2def0c5cd805?_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:'Tweets%20dashboard',viewMode:view)&_g=(filters:!(),refreshInterval:(pause:!f,value:10000),time:(from:now-7d,to:now))">
                    Realtime dashboard <span class="badge badge-secondary">Kibana</span>
                </a>
            </li>
        </ul>
        <br />
        <br />
        <div style="text-align: left;">
            <p>
                <script type="text/javascript">
                    function selectChange(ownerId) {
                        var owner = document.querySelector("#select" + ownerId)
                        if (owner.selectedIndex == 0) {
                            return;
                        }

                        var otherIds = [3,4,5].filter(x => x != ownerId);
                        otherIds.forEach(i => {
                            var elem = document.querySelector("#select" + i)
                            elem.selectedIndex = 0;
                        });
                    }
                </script>

                <form action="/history" method="get">
                    <div class="form-group">
                        Current date {{ currentDate }}
                        <br />
                        <br />
                        <label for="select1">Date</label>
                        <select class="form-control mx-sm-3 mb-2" name="date" id="select1">
                            {% for date in dates %}
                                <option value="{{ date.value }}" {% if selectedDate == date %}selected{% endif %}>{{ date.text }}</option>
                            {% endfor %}
                        </select>
                        <label for="select2">Hour</label>
                        <select class="form-control mx-sm-3 mb-2" name="hour" id="select2">
                            <option value="">[Whole day]</option>
                            {% for hour in hours %}
                                <option {% if selectedHour == hour %}selected{% endif %}>{{ hour }}</option>
                            {% endfor %}
                        </select>
                        <label for="select3">User</label>
                        <select class="form-control mx-sm-3 mb-2" name="user" id="select3" onchange="selectChange(3)">
                            <option value="">[All Users]</option>
                            {% for user in users %}
                                <option {% if selectedUser == user %}selected{% endif %}>{{ user }}</option>
                            {% endfor %}
                        </select>
                        <label for="select4">Hashtag</label>
                        <select class="form-control mx-sm-3 mb-2" name="hashtag" id="select4" onchange="selectChange(3)">
                            <option value="">[All Hashtags]</option>
                            {% for hashtag in hashtags %}
                                <option {% if selectedHashtag == hashtag %}selected{% endif %}>{{ hashtag }}</option>
                            {% endfor %}
                        </select>
                        <label for="select5">Namad</label>
                        <select class="form-control mx-sm-3 mb-2" name="namad" id="select5" onchange="selectChange(5)">
                            <option value="">[All Namads]</option>
                            {% for namad in namads %}
                                <option {% if selectedNamad == namad %}selected{% endif %}>{{ namad }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </p>
            <p>
                <div>
                    <i>{{ resultsCount }} tweets found.</i><br /><br />
                    <b>{{ searchTitle }}</b>
                    <br />
                    <div class="list-group">
                        {% for tweet in results %}    
                            <a class="list-group-item">
                                <b>{{ tweet.userName }}</b><br />
                                {{ tweet.text }}<br />
                                <div style="text-align: right; font-weight: 100; font-size: 12px;">
                                    {{ tweet.date }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </p>

        </div>
    </body>
</html>
