<html>
    <head>
        <title>BigDataFinalProject Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    

        <style>
            body {
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        
            h1 {
                font-size: 32px;
                text-align: center;
                font-weight: 400;
                margin-top: 36px;
            }
        
            h4 {
                font-size: 20px;
                font-weight: 400;
            }

            .dropdown-menu {
                overflow-y: scroll;
                max-height: 400px;
            }

            .list-group {
                max-height: 300px;
                margin-bottom: 10px;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
            }
        </style>
        
    </head>
    <body>
        <h1>BigDataFinalProject Dashboard</h1>
        <br />
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats"><b>Stats</b> <span class="badge badge-secondary">Redis</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">History <span class="badge badge-secondary">Cassandra</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="http://194.5.206.243:5601/app/kibana#/dashboard/8367c600-da4b-11ea-b06a-2def0c5cd805?_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:'Tweets%20dashboard',viewMode:view)&_g=(filters:!(),refreshInterval:(pause:!f,value:10000),time:(from:now-7d,to:now))">
                    Realtime dashboard <span class="badge badge-secondary">Kibana</span>
                </a>
            </li>
        </ul>
        <br />
        <br />
        <div style="text-align: left;">
            <p>
                Total number of tweets in the past day: <b>{{ stats.tweetsToday }}</b>
            </p>
            <p>
                Total number of unique hashtags in the past hour: <b>{{ stats.uniqueHashtagsThisHour }}</b>
            </p>
            <p>
                <div>
                    Tweets from user 
                    <div class="btn-group" style="display: inline;">
                        <button class="btn btn-light btn-sm dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ selected_user }}
                        </button>
                        <div class="dropdown-menu">
                            {% for user in users %}
                                <a class="dropdown-item" href="/stats?user={{ user }}&namad={{ selected_namad }}">
                                    {{ user }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    in the past 6 hours: <b>{{ stats.userTweets6Hours }}</b>
                </div>
            </p>
            <p>
                <div>
                    Tweets from Namad 
                    <div class="btn-group" style="display: inline;">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ selected_namad }}
                        </button>
                        <div class="dropdown-menu">
                            {% for namad in namads %}
                                <a class="dropdown-item" href="/stats?user={{ selected_user }}&namad={{ namad }}">
                                    {{ namad }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    in the past hour: <b>{{ stats.namadTweets1Hour }}</b>
                </div>
            </p>
            <p>
                <div>
                    Tweets from Namad 
                    <div class="btn-group" style="display: inline;">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ selected_namad }}
                        </button>
                        <div class="dropdown-menu">
                            {% for namad in namads %}
                                <a class="dropdown-item" href="/stats?user={{ selected_user }}&namad={{ namad }}">
                                    {{ namad }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    in the past 6 hours: <b>{{ stats.namadTweets6Hours }}</b>
                </div>
            </p>
            <p>
                <div>
                    Tweets from Namad 
                    <div class="btn-group" style="display: inline;">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ selected_namad }}
                        </button>
                        <div class="dropdown-menu">
                            {% for namad in namads %}
                                <a class="dropdown-item" href="/stats?user={{ selected_user }}&namad={{ namad }}">
                                    {{ namad }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    in the past 24 hours: <b>{{ stats.namadTweets24Hours }}</b>
                </div>
            </p>
            <p>
                <div>
                    Latest 100 Tweets:
                    <div class="list-group">
                        {% for tweet in tweets %}    
                            <a class="list-group-item">
                                <b>{{ tweet.userName }}</b><br />
                                {{ tweet.text }}<br />
                                <div style="text-align: right; font-weight: 100; font-size: 12px;">
                                    {{ tweet.date }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </p>
            <p>
                <div>
                    Latest 1000 Hashtags:
                    <div class="list-group">
                        {% for hashtag in hashtags %}    
                            <a class="list-group-item">
                                {{ hashtag }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </p>
        </div>
    </body>
</html>
